header img{
    width:300px;
    height:150px;
    margin-bottom:-25px;
}

header h2{
    margin: 10px;
    font-family: "Mochiy Pop One", sans-serif;
    padding: 0px;
}

nav a{
    color: white;
    text-decoration: none;
    font-family: "Kanit",sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    text-align: left;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;

}

nav ul li a:hover {
    background-color: #3a1a10;
}


aside a{
    color: white;
    text-decoration: none;
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 15px;
}

aside a:hover{
    color: rgb(255, 131, 131);
}

aside h3{
    font-family: "Kanit", sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: -5%;
    margin-top: -5%;
}

article h3{
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 5px;
}

article h4{
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

article h5{
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 5px;
}

article h3{
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

article a{
    color: rgb(1, 134, 250);
    font-size: 15px;
    font-family: "Kanit", sans-serif;
}

article div a:hover{
    color: rgb(83, 83, 83);
}

article::after{
    content: "";
    display: block;
    clear: both;
}

.cart-btn{
    display: block;
    text-align: center;
    margin-top: 15px;
}

.cart-btn button{
    padding: 6px 12px;
    font-size: 15px;
    cursor: pointer;
    background-color: blanchedalmond;
    font-family: "Kanit", sans-serif;
    border: 1px solid black;
    border-radius: 10px;
}

.cart-btn button:hover{
    background-color: #bd2c00;
}

footer{
    clear: both;
    padding: 15px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 250px;
    background-color: #3a1a10;
}

footer h2{
    padding: 20px;
    margin-bottom: -10px;
    margin-top: -25px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "Mochiy Pop one", sans-serif;
}
.contact-row{
    align-items: center;
    margin: 10px 20px;
    max-width: 100%;
}

footer img.stack-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

footer a{
    color: white;
    text-decoration: none;
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 15px;
}

footer ul{
    list-style-type: none;
}
footer a:hover{
    color: rgb(255, 131, 131);
}
footer h4{
    color: white;
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}